@import "./Variables&Mixins.scss";

.header {
  background-color: $bg-color;
  color: $light-color;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $bg-color;

  h1 {
    @include title-style($h1-size, $font-weight-semibold, $light-color);
  }

  p {
    @include text-style($text-classic, $font-weight-regular, $light-color);
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;

    span {
      width: 30px;
      height: 3px;
      background: white;
      transition: 0.3s;
    }
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: rgba(2, 0, 36, 0.95);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: right 0.4s ease-in-out;
    z-index: 1000;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        color: white;
        text-decoration: none;
      }
    }

    .social-medias {
      display: flex;
      gap: 15px;
      margin-top: 20px;
    }
  }

  nav.open {
    right: 0;
  }

  a {
    @include text-style($text-classic, $font-weight-regular, $light-color);
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $secondary-color;
    }
  }

  @include tablet {
    ul {
      flex-direction: row;
      justify-content: center;
    }
  }
}
