/* RESET STYLES */
@import "./Variables&Mixins.scss";

/* Box-sizing */
* {
  border: 1px solid red;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  html {
    width: 62.5%;
  }
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove text decoration */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset body styles */
body {
  @include text-style();
  background-color: $bg-color;
  line-height: 1.6;
}

/* Headings */
h1 {
  @include title-style($h1-size);
}
h2 {
  @include title-style($h2-size);
}
h3 {
  @include title-style($h3-size);
  width: 100%;
}

/* Images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Buttons */
button {
  @include button-style();
}
